@tailwind base;
@tailwind components;
@tailwind utilities;





@layer base {

  :root {
    --background: 139 100% 98%;
    --foreground: 139 5% 10%;
    --card: 139 50% 98%;
    --card-foreground: 139 5% 15%;
    --popover: 139 100% 98%;
    --popover-foreground: 139 100% 10%;
    --primary: 139 100% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 139 30% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: 101 30% 95%;
    --muted-foreground: 139 5% 40%;
    --accent: 101 30% 90%;
    --accent-foreground: 139 5% 15%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 139 5% 98%;
    --border: 139 30% 82%;
    --input: 139 30% 50%;
    --ring: 139 100% 50%;
    --radius: 0.5rem;
    --chart-1: 139 86% 49%;
    --chart-2: 139 86% 49%;
    --chart-3: 139 86% 49%;
    --chart-4: 139 86% 49%;
    --colorCard-1: #5E64EB;
    --colorCard-2: #EB615E;
    --colorCard-3: #EBCF5E;
  }

  .dark {
    --background: 139 10% 5%;
    --foreground: 139 0% 90%;
    --card: 139 0% 0%;
    --card-foreground: 139 0% 90%;
    --popover: 139 10% 5%;
    --popover-foreground: 139 0% 90%;
    --primary: 139 86% 49%;
    --primary-foreground: 0 0% 100%;
    --secondary: 139 10% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 101 10% 15%;
    --muted-foreground: 139 0% 60%;
    --accent: 101 10% 15%;
    --accent-foreground: 139 0% 90%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 139 0% 90%;
    --border: 139 20% 18%;
    --input: 139 20% 18%;
    --ring: 139 86% 49%;
    --radius: 0.5rem;
    --chart-1: 139 86% 49%;
    --chart-2: 139 86% 49%;
    --chart-3: 139 86% 49%;
    --chart-4: 139 86% 49%;
    --colorCard-1: #5E64EB;
    --colorCard-2: #EB615E;
    --colorCard-3: #EBCF5E;
  }


}



@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}